<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Player</title>
    </head>
    <body>
        <h1 th:text="'Info about Player ' + ${name} + '!'"></h1>
        <p th:text="'UUID: '+${uuid}"></p>
        <p th:text="'Play Time: '+${play_time}"></p>
        <p th:text="'Level: '+${level}"></p>
        <p th:text="'Discord Id: '+${discord_id}"></p>
        <p th:text="'Banned: '+${banned}"></p>
        <p th:text="'Banned Until: '+${banned_until}"></p>
        <p th:text="'Ban Reason: '+${ban_reason}"></p>
    </body>
</html>